// font family
$title-font: 'Oswald', sans-serif;
$text-font: 'Quicksand', sans-serif;
$hero-title-font: 'Anton', sans-serif;
$hero-subtitle-font: 'Poppins', sans-serif;

// color
$transparent-background:  rgba(16, 16, 16, .7);
$secundary-transparent-background:  rgba(0, 0, 0, 0.2);
$primary-backgroud: #ffffff;
$secundary-background: #EAEBF0;
$gray-font-color: #666872;
$btn-color: #100E34;
