@import '../abstracts/variables';

.hero {
    position: relative;
    height: 100svh;
    background-image: url('@/assets/01.webp');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    
    &__title {
        display: flex;
        flex-direction: column;
        align-items: center;
        h1 {
            font-family: $hero-title-font;
            font-size: clamp(3.75rem, 8vw, 16rem);
            opacity: .8;
        }
        h2 {
            font-size: clamp(.75rem, 1vw, 10rem);
            font-family: $hero-subtitle-font;
            letter-spacing: clamp(0.2rem, 1vw, 2rem);
            font-weight: 200;
            padding: 1rem .5rem;
            background-color: $transparent-background;
        }
    }

    a {
        position: absolute;
        bottom: 1rem;
        cursor: pointer;
        
        img{
            width: clamp(80px, 5vw, 150px);
        }
    }
}